{% extends 'clownApp/partials/base.html' %}
{% block title %}Appointment Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'clownApp/partials/topbar.html' %}

 <!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Set an Appointment</h4>
                <hr>
                    {% for message in messages %}
                    {% if message %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Set an Appointment">
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                <tr class="text-white">
                    <td>Appointment Date</td>
                    <td>Client</td>
                    <td>Clown</td>
                    <td>Activity</td>
                    <td>Action</td>

                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                <tr>
                   <td>{{ appointment_form.appointment_date }}</td>
                    <td>{{ item.client }}</td>
                    <td>{{ item.clown }}</td>
                    <td>{{ item.activity }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard-appointment-update' item.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'dashboard-appointment-delete' item.id %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}